<div class="px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
      <p class="text-xl font-semibold leading-7 text-p2blue-500 mt-6">
        Angular and Spring Boot App Examples
      </p>
  </div>
</div>
<div class="py-12">
  <div class="mx-auto max-w-3xl px-6 lg:px-8 text-center">
    <app-user></app-user>
  </div>
</div>
<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-3xl px-6 lg:px-8">
    <div>
      <h2 class="text-3xl font-semibold text-center text-slate-600">
        Features
      </h2>
      <p class="text-center text-lg text-slate-600/80 mt-4">
        The below links are only accessible after authorization and authentication.  The roles ROLE_ADMIN and ROLE_USER are used to determine access.
      </p>
    </div>
    <div
      class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl"
    >
      <!-- New Link to Organizations Page -->
      <a routerLink="/organizations">
        <div
          class="p-8 sm:p-10 bg-purple-500/10 text-center text-xl font-semibold text-slate-600/80"
        >
          Organizations
        </div>
      </a>
      <!-- New Link to Add-ons Page -->
      <a routerLink="/add-ons">
        <div
          class="p-8 sm:p-10 bg-purple-500/10 text-center text-xl font-semibold text-slate-600/80"
        >
          Add-ons
        </div>
      </a>
    </div>
  </div>
</div>
